
body{
background-color:rgba(34, 40, 41, 0.966) ;
}


 h1{
color:rgba(20, 68, 68, 0.932) ;
font-family:Snell Roundhand, cursive ;
background: ;
}


p{
color:black ;
font-family: Arial, Helvetica, sans-serif;
font-size: 50px;
background: ;
}
