
body{
background-color:rgba(206, 86, 150, 0.966) ;
}

Estilizar o título principal do seu site
 h1{
color:rgba(224, 57, 57, 0.932) ;
font-family:Snell Roundhand, cursive ;
background: ;
}

Estilizar os parágrafos
p{
color: ;
font-family: ;
font-size: ;
background: ;
}
