
body{
background-color:rgba(95, 101, 102, 0.966) ;
}


 h1{
color:rgb(230, 30, 30) ;
font-family:Snell Roundhand, cursive ;
background: ;
}


p{
color:rgba(197, 106, 106, 0.219) ;
font-family: Arial, Helvetica, sans-serif;
font-size: 50px;
background: ;
}
